<div class = "container">
  <div class = "row justify-content-center">
    <h1>配送先編集</h1>
  </div>
  <div class = "row justify-content-center">
    <div class = "col-7">
      <%= form_with model: @delivery, url: public_delivery_path(@delivery.id) do |f| %>
        <table class = "table">
          <tr>
            <th>郵便番号(ハイフンなし)</th>
            <th><%= f.text_field :delivery_postal_code, class: "col" %></th>
          </tr>
          <tr>
            <th>住所</th>
            <th><%= f.text_field :delivery_address, class: "col" %></th>
          </tr>
          <tr>
            <th>宛名</th>
            <th><%= f.text_field :delivery_name, class: "col" %></th>
          </tr>
        </table>
        <div class = "text-center"><%= f.submit "変更内容を保存" %></div>
      <% end %>
    </div>
  </div>
</div>