<h1>配送先編集</h1>

<table>
  <%= form_with model: @delivery, url: public_delivery_path(@delivery.id) do |f| %>
    <tr>
      <th>郵便番号(ハイフンなし)</th>
      <th><%= f.text_field :delivery_postal_code %></th>
    </tr>
    <tr>
      <th>住所</th>
      <th><%= f.text_field :delivery_address %></th>
    </tr>
    <tr>
      <th>宛名</th>
      <th><%= f.text_field :delivery_name %></th>
    </tr>
    <tr>
      <th><%= f.submit "変更内容を保存" %></th>
    </tr>
　<% end %>
</table>