<div class = "container">
  <div class = "row">
    <div class = "col">
      <h1 class = "text-center">ログイン</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table class = "table">
          <tr>
            <th><%= f.label :email %></th>
            <th><%= f.email_field :email, autofocus: true, autocomplete: "email" %></th>
          </tr>

          <tr>
            <th><%= f.label :password %></th>
            <th><%= f.password_field :password, autocomplete: "current-password" %></th>
          </tr>

          <% if devise_mapping.rememberable? %>
            <tr>
              <th><%= f.check_box :remember_me %></th>
              <th><%= f.label :remember_me %></th>
            </tr>
          <% end %>
        </table>
          <h3 class="actions text-center">
            <%= f.submit "ログイン" %>
          </h3>
      <% end %>
    </div>
  </div>
</div>