<div class = "container">
  <div class = "row">
    <div class = "col">
      <h2 class = "text-center mt-5">商品一覧（全<%= @quantity %>件）</h2><br>
      <table class = table>
        <tr class = "card-deck">
          <% @items.each do |item| %>
          <th class = "card-body text-center">
            <%= link_to public_item_path(item) do%>
              <% if item.image.attached? %>
                <%= image_tag item.image, size: "200x200" %>
              <% else %>
                <%= image_tag 'no_image', size: "200x200" %>
              <% end %>
            <% end %>
            <p><%= item.name %></p>
            <p><%= (item.price*1.1).floor.to_s(:delimited, delimiter: ',') %>円</p>
          </th>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>
