  <h3><%= @item.name %></h3><br>
  <% if @item.image.attached? %>
  <%= image_tag @item.image, size: "200x200" %>
  <% else %>
  <%= image_tag 'no_image', size: "200x200" %>
  <% end %>
  <p><%= @item.introduction %></p>
  <p><%= (@item.price*1.1).floor.to_s(:delimited, delimiter: ',') %>円</p>  
  <%= form_with(model: @cart_item, url: public_cart_items_path, method: :post, local: true) do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.label :amount, "個数:", class: "d-inline-block" %>
        <%= f.select :amount, *[1..10], include_blank: "個数選択" %>
        <%= f.submit "カートに入れる", class: "btn btn-success" %>
      <% end %>
  	 