<h2>NAGANO-CAKE</h2>
<table>
  <tr>
    <% if customer_signed_in? %>
      <th><%= link_to "マイページ", my_page_customers_path %></th>
      <th><%#= link_to "商品一覧", public_homes_about_path %></th>
      <th><%#= link_to "カート", public_homes_about_path %></th>
      <th><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></th>
    <% elsif admin_signed_in? %>
      <th><%#= link_to "商品一覧", public_homes_about_path %></th>
      <th><%= link_to "会員一覧", admin_customers_path %></th>
      <th><%#= link_to "注文履歴一覧", public_homes_about_path %></th>
      <th><%#= link_to "ジャンル一覧", public_homes_about_path %></th>
      <th><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></th>
    <% else %>
      <th><%= link_to "About", public_homes_about_path %></th>
      <th><%#= link_to "商品一覧", public_homes_about_path %></th>
      <th><%= link_to "新規登録", new_customer_registration_path %></th>
      <th><%= link_to "ログイン", new_customer_session_path %></th>
    <% end%>
  </tr>
</table>